In [93]:
import pandas as pd

In [94]:
df = pd.read_csv("diabetes.csv")

In [95]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148,72.0,35.0,0.0,33.6,0.627,50,1
1,1.0,85,66.0,29.0,0.0,26.6,0.351,31,0
2,8.0,183,64.0,0.0,NaN,23.3,0.672,32,1
3,1.0,89,66.0,23.0,94.0,28.1,0.167,21,0
4,NaN,137,40.0,35.0,168.0,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10.0,101,76.0,48.0,180.0,32.9,0.171,63,0
764,2.0,122,70.0,27.0,0.0,36.8,0.340,27,0
765,5.0,121,72.0,23.0,112.0,26.2,0.245,30,0
766,1.0,126,60.0,0.0,0.0,30.1,0.349,47,1
767,1.0,93,70.0,31.0,0.0,30.4,0.315,23,0

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               767 non-null    float64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             767 non-null    float64
 3   SkinThickness             764 non-null    float64
 4   Insulin                   765 non-null    float64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(6), int64(3)
memory usage: 54.1 KB

In [97]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,767.000000,768.000000,767.000000,764.000000,765.000000,768.000000,768.000000,768.000000,768.000000
mean,3.850065,120.894531,69.195567,20.643979,80.112418,31.992578,0.471876,33.240885,0.348958
std,3.368910,31.972618,19.206609,15.924344,115.361294,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,63.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,36.000000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,128.000000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [98]:
df.shape

(768, 9)

In [99]:
df.size

6912

In [100]:
df.isnull()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,True,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
763,False,False,False,False,False,False,False,False,False
764,False,False,False,False,False,False,False,False,False
765,False,False,False,False,False,False,False,False,False
766,False,False,False,False,False,False,False,False,False
767,False,False,False,False,False,False,False,False,False

In [101]:
	True

True

In [102]:
df.isnull().sum()

Pregnancies                 1
Glucose                     0
BloodPressure               1
SkinThickness               4
Insulin                     3
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [103]:
df.dtypes

Pregnancies                 float64
Glucose                       int64
BloodPressure               float64
SkinThickness               float64
Insulin                     float64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [104]:
avg = df['Insulin'].mean()

In [105]:
avg

80.1124183006536

In [106]:
df['Insulin'] = df['Insulin'].fillna(avg)

In [107]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148,72.0,35.0,0.000000,33.6,0.627,50,1
1,1.0,85,66.0,29.0,0.000000,26.6,0.351,31,0
2,8.0,183,64.0,0.0,80.112418,23.3,0.672,32,1
3,1.0,89,66.0,23.0,94.000000,28.1,0.167,21,0
4,NaN,137,40.0,35.0,168.000000,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10.0,101,76.0,48.0,180.000000,32.9,0.171,63,0
764,2.0,122,70.0,27.0,0.000000,36.8,0.340,27,0
765,5.0,121,72.0,23.0,112.000000,26.2,0.245,30,0
766,1.0,126,60.0,0.0,0.000000,30.1,0.349,47,1
767,1.0,93,70.0,31.0,0.000000,30.4,0.315,23,0

In [108]:
df['Glucose'] = df['Glucose'].astype(float)

In [109]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148.0,72.0,35.0,0.000000,33.6,0.627,50,1
1,1.0,85.0,66.0,29.0,0.000000,26.6,0.351,31,0
2,8.0,183.0,64.0,0.0,80.112418,23.3,0.672,32,1
3,1.0,89.0,66.0,23.0,94.000000,28.1,0.167,21,0
4,NaN,137.0,40.0,35.0,168.000000,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10.0,101.0,76.0,48.0,180.000000,32.9,0.171,63,0
764,2.0,122.0,70.0,27.0,0.000000,36.8,0.340,27,0
765,5.0,121.0,72.0,23.0,112.000000,26.2,0.245,30,0
766,1.0,126.0,60.0,0.0,0.000000,30.1,0.349,47,1
767,1.0,93.0,70.0,31.0,0.000000,30.4,0.315,23,0

In [110]:
for column in df.columns:
    df['BMI'] = df['BMI']  / df['BMI'].abs().max()

In [111]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148.0,72.0,35.0,0.000000,0.500745,0.627,50,1
1,1.0,85.0,66.0,29.0,0.000000,0.396423,0.351,31,0
2,8.0,183.0,64.0,0.0,80.112418,0.347243,0.672,32,1
3,1.0,89.0,66.0,23.0,94.000000,0.418778,0.167,21,0
4,NaN,137.0,40.0,35.0,168.000000,0.642325,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10.0,101.0,76.0,48.0,180.000000,0.490313,0.171,63,0
764,2.0,122.0,70.0,27.0,0.000000,0.548435,0.340,27,0
765,5.0,121.0,72.0,23.0,112.000000,0.390462,0.245,30,0
766,1.0,126.0,60.0,0.0,0.000000,0.448584,0.349,47,1
767,1.0,93.0,70.0,31.0,0.000000,0.453055,0.315,23,0

In [112]:
df['Outcome'].replace([0, 1],
                        ['Absent', 'Present'], inplace=True)

In [113]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148.0,72.0,35.0,0.000000,0.500745,0.627,50,Present
1,1.0,85.0,66.0,29.0,0.000000,0.396423,0.351,31,Absent
2,8.0,183.0,64.0,0.0,80.112418,0.347243,0.672,32,Present
3,1.0,89.0,66.0,23.0,94.000000,0.418778,0.167,21,Absent
4,NaN,137.0,40.0,35.0,168.000000,0.642325,2.288,33,Present
...,...,...,...,...,...,...,...,...,...
763,10.0,101.0,76.0,48.0,180.000000,0.490313,0.171,63,Absent
764,2.0,122.0,70.0,27.0,0.000000,0.548435,0.340,27,Absent
765,5.0,121.0,72.0,23.0,112.000000,0.390462,0.245,30,Absent
766,1.0,126.0,60.0,0.0,0.000000,0.448584,0.349,47,Present
767,1.0,93.0,70.0,31.0,0.000000,0.453055,0.315,23,Absent

In [114]:
df['Outcome'].replace(['Absent', 'Present'],
                        [0, 1], inplace=True)

In [115]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148.0,72.0,35.0,0.000000,0.500745,0.627,50,1
1,1.0,85.0,66.0,29.0,0.000000,0.396423,0.351,31,0
2,8.0,183.0,64.0,0.0,80.112418,0.347243,0.672,32,1
3,1.0,89.0,66.0,23.0,94.000000,0.418778,0.167,21,0
4,NaN,137.0,40.0,35.0,168.000000,0.642325,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10.0,101.0,76.0,48.0,180.000000,0.490313,0.171,63,0
764,2.0,122.0,70.0,27.0,0.000000,0.548435,0.340,27,0
765,5.0,121.0,72.0,23.0,112.000000,0.390462,0.245,30,0
766,1.0,126.0,60.0,0.0,0.000000,0.448584,0.349,47,1
767,1.0,93.0,70.0,31.0,0.000000,0.453055,0.315,23,0